/* commont styles or utalities */
body{
    font-family: 'Poppins', sans-serif;
    /* background-color: #E5E5E5; */
    
}
main{
    margin-left: 156px;
    margin-right: 156px;
}
h1{
    font-family: 'Yeseva One', cursive;
    font-size: 48px;
}
.orange-color{
    color:#FFAD5A;


}
.olive-color{
    color: olivedrab;
}
.flexible-container{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    margin:50px;
}
.half-width img{
    width:80%;
}
p{
    text-align:justify;
}
#button-up{
    margin-bottom: 20px;
}
#button-down{
    margin-top: 35px;
}
.center{
    text-align: center;
    font-size:48px;
}

/*------- focus area style --------*/
.focus-border{
    border-left: 7px solid;
    border-image:linear-gradient(#FF5959, #FF5959);
    border-radius: 5px;
    border-image-slice: 1;
    font-family: 'Yeseva One', cursive;
    font-size: 48px;
}
.link-button{
    text-decoration: none;
    background-color: #FF5959;
    padding: 12px; 
    color:white;
    font-weight:bold;
    border-radius:5px;
    margin-top: 20px;
    margin-bottom:50px;
 }
/*------- mission area  style-------- */
.mission-item{
    width:27%;
    margin-left: 3%;
    margin-right: 3%;
    padding-left: 10px;
    border-radius: 26px;
    width:360px;
    height: 376px;

}
.mission-item img{
    width:50%;
    
}
 #mission{
    background: rgba(79, 157, 166, 0.1);
} 
#vission{
    background: rgba(255, 89, 89, 0.1);

}
#goals{
    background: #FFF4D6;
}
/*----------- develop section -----------*/
.develop-Bg{
    background-image: url(images/shapes/shape-1.png);
    
    
}
/*----------- global section -----------*/
.global-Bg{
    background-image: url(images/shapes/shape-1.png);
    background-repeat:no-repeat;
    background-position:right;
}
/*------ footer styles -------*/
.footer{
    text-align: center;
    background-image:linear-gradient(90deg,rgb(7, 2, 34), 
    rgb(5, 3, 14) ) ;
    color: white;
    font-weight: bold;
    height: 225px;
    margin-left:0;
    margin-right:0;
}
.footer img{
    float:inline;
    height: 50px;
    width: 50px;
}
#footer{
  text-align: center;
  font-weight:bold;
}

